.component-why-so-polarized {
    position: relative;
    background-color: var(--brand-yellow);
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    overflow: hidden;

    @media screen and (min-width: 990px) {
        padding: 32px 80px;
    }

    .component-why-so-polarized__body {
        display: flex;
        flex-direction: column;
        gap: 32px;
        z-index: 1;
        position: relative;
    }

    .component-why-so-polarized__headline {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 1;
        position: relative;

        @media screen and (min-width: 767px) {
            flex-direction: row;
            gap: 1rem;
        }

        img {
            translate: 0 -10px;
            max-width: 100%;
            @media screen and (min-width: 767px) {
            }
        }
    }

    .floaters {
        position: absolute;
        width: 100%;
        height: 100%;
        user-select: none;
        top: 0;
        left: 0;
        z-index: 0;

        img {
            position: absolute;
            user-select: none;
            transform-origin: center center;
        }
    }

    .floaters__fun {
        opacity: 0.2;
        left: 83px;
        bottom: -16px;
        width: 256.407px;
        height: 256.408px;
        animation: float 3s ease-in-out alternate infinite;
    }

    .floaters__risky {
        width: 256.398px;
        height: 256.492px;
        transform: rotate(-20deg);
        position: absolute;
        right: -150.661px;
        top: 50px;
        animation: float 2s ease-in-out alternate-reverse infinite;

    }

    .floaters__dangerous {
        width: 256.394px;
        height: 256.413px;
        transform: rotate(18.91deg);
        position: absolute;
        left: -6px;
        top: -142px;
        fill: var(--Black, #000);
        opacity: 0.15;
        animation: float 4s ease-in-out alternate-reverse infinite;

    }

    .component-why-so-polarized__socials {
        display: flex;
        gap: 16px;
        justify-content: center;
        align-items: center;
    }

}

@keyframes float {
    0% {
		transform: translatey(0px) translateX(-20px) rotate(0deg);
    }
    50% {
		transform: translatey(-20px) translateX(20px) rotate(9deg);

    }

    100% {
		transform: translatey(0px) translateX(-20px) rotate(0deg);
    }
}